<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="is_encrypted" value="0" />
    <add key="connection_string" value="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 185.146.2.99)(PORT = 1524))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = aml1)));User Id=AML_LISTS_BFF;Password=AML_LISTS_BFF;" />
    <add key="proxy" value="false" />
    <add key="pkg_name" value="pkg_kfm_include" />
    <add key="ip" value="" />
    <add key="port" value="" />
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="domain" value="" />
    <add key="AuthLogin" value="880726350530"/>
    <add key="AuthPassword" value="Zarka24022014"/>
    <add key="url" value="https://api.websfm.kz/v1/sanctions/sanction-terrorist-old/xml_category_1/?status=included" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Logs/" />
    <targets>
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/${shortdate}.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>